Repository resilience4j/resilience4j, pull requests merged in 2025-05, with the labels that each got.

#2301 Remove dependency on kotlin-stdlib-jdk8 from resilience4j-core
  resilience4j-core/build.gradle
  resilience4j-kotlin/build.gradle
  resilience4j-kotlin/src/test/kotlin/io/github/resilience4j/core/metrics/ConcurrencyTests.kt
  resilience4j-kotlin/src/test/kotlin/io/github/resilience4j/core/metrics/LockFreeFixedSizeSlidingWindowMetricsTest.kt
  resilience4j-kotlin/src/test/kotlin/io/github/resilience4j/core/metrics/LockFreeSlidingTimeWindowMetricsTest.kt
  resilience4j-kotlin/src/test/kotlin/io/github/resilience4j/core/metrics/ManualClock.kt
Labels: dependencies, size:M

#2302 Bring back 'slidingWindow' with default synchronization strategy
  resilience4j-circuitbreaker/src/main/java/io/github/resilience4j/circuitbreaker/CircuitBreakerConfig.java
  resilience4j-circuitbreaker/src/test/java/io/github/resilience4j/circuitbreaker/CircuitBreakerConfigTest.java
Labels: bug, java, size:M

#2312 add withFallback() methods to DecorateFunction
  resilience4j-all/src/main/java/io/github/resilience4j/decorators/Decorators.java
  resilience4j-all/src/test/java/io/github/resilience4j/decorators/DecoratorsTest.java
  resilience4j-core/src/main/java/io/github/resilience4j/core/CheckedFunctionUtils.java
  resilience4j-core/src/main/java/io/github/resilience4j/core/FunctionUtils.java
  resilience4j-core/src/test/java/io/github/resilience4j/core/CheckedFunctionUtilsTest.java
  resilience4j-core/src/test/java/io/github/resilience4j/core/FunctionUtilsTest.java
Labels: enhancement, java, size:XL

#2304 Issue #2295: Ensure ignoreExceptions take precedence over recordExceptions
  resilience4j-circuitbreaker/src/main/java/io/github/resilience4j/circuitbreaker/CircuitBreakerConfig.java
  resilience4j-circuitbreaker/src/test/java/io/github/resilience4j/circuitbreaker/CircuitBreakerConfigTest.java
Labels: bug, enhancement, java, size:L
